<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.left_column_fullname | default: site.github.repository_name }}</a></h1>

        {% if site.left_column_picture %}
        <div style="text-align: center;"> 
          <img src="{{site.left_column_picture | relative_url}}" alt="CV Picture" style="border-radius: 25px; "/>
    
          <div class="social-icons" style="margin-top: 15px; display: flex; justify-content: center; gap: 20px;">
            <a href="https://www.linkedin.com/in/ghassen-karray/" target="_blank" style="color: #0077b5; font-size: 24px;">
              <i class="fab fa-linkedin"></i>
            </a>
            <a href="https://github.com/gkarray" target="_blank" style="color: #333; font-size: 24px;">
              <i class="fab fa-github"></i>
            </a>
          </div>
        </div>
        {% endif %}

      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>